/* Effective stylesheet produced by snapshot save */
#social { background: none repeat scroll 0% 0% rgb(255, 255, 255); line-height: 1.5; margin: 40px 0px; }
#social * { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
#social a { text-decoration: none; outline: 0px none; }
#social a:hover { text-decoration: underline; }
#social .social-post { font-family: Helvetica,Arial,sans-serif; }
#social #respond { background: none repeat scroll 0% 0% transparent; margin-bottom: 30px; width: auto; }
#social #submit::-moz-focus-inner { border: 0px none; margin: 0px; padding: 0px; }
#social .must-log-in { text-align: center; }
#social #cancel-comment-reply-link { display: inline; font-family: Helvetica,Arial,sans-serif; font-size: 12px; margin: 3px 10px; position: static; text-transform: none; }
#social #reply-title { margin: 0px; overflow: hidden; padding-left: 13px; }
#social #reply-title, #social .social-nav .social-current-tab { background: url("sprite-y-24.png") no-repeat scroll 0px -200px transparent; }
