/* Effective stylesheet produced by snapshot save */
* { -moz-box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-size: 100%; overflow-y: scroll; }
html, button, input, select, textarea { font-family: "Source Sans Pro",Helvetica,sans-serif; }
body { color: rgb(20, 20, 18); line-height: 1.5; margin: 0px; }
a { color: rgb(202, 60, 8); text-decoration: none; }
a:visited { color: rgb(172, 4, 4); }
a:focus { outline: thin dotted; }
a:active, a:hover { color: rgb(234, 150, 41); outline: 0px none; }
a:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { clear: both; font-family: Bitter,Georgia,serif; line-height: 1.3; }
h1 { font-size: 48px; margin: 33px 0px; }
h2 { font-size: 30px; margin: 25px 0px; }
h3 { font-size: 22px; margin: 22px 0px; }
h4 { font-size: 20px; margin: 25px 0px; }
h5 { font-size: 18px; margin: 30px 0px; }
h6 { font-size: 16px; margin: 36px 0px; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
p { margin: 0px 0px 24px; }
code, kbd, pre, samp { font-family: monospace,serif; font-size: 14px; -moz-hyphens: none; }
pre { background: none repeat scroll 0% 0% rgb(245, 245, 245); color: rgb(102, 102, 102); font-family: monospace; font-size: 14px; margin: 20px 0px; overflow: auto; padding: 20px; white-space: pre-wrap; word-wrap: break-word; }
small { font-size: smaller; }
menu, ol, ul { margin: 16px 0px; padding: 0px 0px 0px 40px; }
ul { list-style-type: square; }
nav ul, nav ol { list-style: none outside none; }
li > ul, li > ol { margin: 0px; }
svg:not(:root) { overflow: hidden; }
form { margin: 0px; }
button, input, select, textarea { font-size: 100%; margin: 0px; max-width: 100%; vertical-align: baseline; }
button, input { line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="search"] { padding-right: 2px; width: 270px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
.genericon:before, .menu-toggle:after, .featured-post:before, .date a:before, .entry-meta .author a:before, .format-audio .entry-content:before, .comments-link a:before, .tags-links a:first-child:before, .categories-links a:first-child:before, .edit-link a:before, .attachment .entry-title:before, .attachment-meta:before, .attachment-meta a:before, .comment-awaiting-moderation:before, .comment-reply-link:before, .comment-reply-login:before, .comment-reply-title small a:before, .bypostauthor > .comment-body .fn:before, .error404 .page-title:before { display: inline-block; font: 16px/1 Genericons; vertical-align: text-bottom; }
.clear:after, .attachment .entry-header:after, .site-footer .widget-area:after, .entry-content:after, .page-content:after, .navigation:after, .nav-links:after, .gallery:after, .comment-form-author:after, .comment-form-email:after, .comment-form-url:after, .comment-body:after { clear: both; }
.clear:before, .clear:after, .attachment .entry-header:before, .attachment .entry-header:after, .site-footer .widget-area:before, .site-footer .widget-area:after, .entry-content:before, .entry-content:after, .page-content:before, .page-content:after, .navigation:before, .navigation:after, .nav-links:before, .nav-links:after, .gallery:before, .gallery:after, .comment-form-author:before, .comment-form-author:after, .comment-form-email:before, .comment-form-email:after, .comment-form-url:before, .comment-form-url:after, .comment-body:before, .comment-body:after { content: ""; display: table; }
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute ! important; }
.screen-reader-text:focus { background-color: rgb(241, 241, 241); border-radius: 3px; box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6); clip: auto ! important; color: rgb(33, 117, 155); display: block; font-size: 14px; font-weight: bold; height: auto; line-height: normal; padding: 15px 23px 14px; position: absolute; left: 5px; top: 5px; text-decoration: none; width: auto; z-index: 100000; }
button, input, textarea { border: 2px solid rgb(212, 208, 186); font-family: inherit; padding: 5px; }
input, textarea { color: rgb(20, 20, 18); }
input:focus, textarea:focus { border: 2px solid rgb(195, 192, 171); outline: 0px none; }
button, input[type="submit"], input[type="button"], input[type="reset"] { background: linear-gradient(to bottom, rgb(224, 93, 34) 0%, rgb(217, 68, 18) 100%) repeat scroll 0% 0% transparent; border-width: medium medium 3px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(185, 50, 7); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 2px; color: rgb(255, 255, 255); display: inline-block; padding: 11px 24px 10px; text-decoration: none; }
button:hover, button:focus, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus { background: linear-gradient(to bottom, rgb(237, 106, 49) 0%, rgb(229, 86, 39) 100%) repeat scroll 0% 0% transparent; outline: medium none; }
button:active, input[type="submit"]:active, input[type="button"]:active, input[type="reset"]:active { background: linear-gradient(to bottom, rgb(217, 68, 18) 0%, rgb(224, 93, 34) 100%) repeat scroll 0% 0% transparent; border-right: medium none; border-width: 3px medium medium; border-style: solid none none; border-color: rgb(185, 50, 7) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 10px 24px 11px; }
:-moz-placeholder { color: rgb(125, 123, 109); }
*::-moz-placeholder { color: rgb(125, 123, 109); }
.site { background-color: rgb(255, 255, 255); border-left: 1px solid rgb(242, 242, 242); border-right: 1px solid rgb(242, 242, 242); margin: 0px auto; max-width: 1600px; width: 100%; }
.site-main { position: relative; }
.site-header { position: relative; }
.site-header .home-link { color: rgb(20, 20, 18); display: block; margin: 0px auto; max-width: 1080px; min-height: 230px; padding: 0px 20px; text-decoration: none; width: 100%; }
.site-header .site-title:hover { text-decoration: underline; }
.site-title { font-size: 60px; font-weight: bold; line-height: 1; margin: 0px; padding: 58px 0px 10px; }
.site-description { font: italic 300 24px "Source Sans Pro",Helvetica,sans-serif; margin: 0px; }
.main-navigation { clear: both; margin: 0px auto; max-width: 1080px; min-height: 45px; position: relative; }
ul.nav-menu, div.nav-menu > ul { margin: 0px; padding: 0px 40px 0px 0px; }
.nav-menu li { display: inline-block; position: relative; }
.nav-menu li a { color: rgb(20, 20, 18); display: block; font-size: 15px; line-height: 1; padding: 15px 20px; text-decoration: none; }
.nav-menu li:hover > a, .nav-menu li a:hover { background-color: rgb(34, 14, 16); color: rgb(255, 255, 255); }
.nav-menu .sub-menu, .nav-menu .children { background-color: rgb(34, 14, 16); border-right: 2px solid rgb(247, 245, 231); border-width: 0px 2px 2px; border-style: none solid solid; border-color: -moz-use-text-color rgb(247, 245, 231) rgb(247, 245, 231); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; display: none; padding: 0px; position: absolute; left: -2px; z-index: 99999; }
ul.nav-menu ul a, .nav-menu ul ul a { color: rgb(255, 255, 255); margin: 0px; width: 200px; }
ul.nav-menu ul a:hover, .nav-menu ul ul a:hover { background-color: rgb(219, 87, 47); }
ul.nav-menu li:hover > ul, .nav-menu ul li:hover > ul { display: block; }
.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a { color: rgb(188, 54, 10); font-style: italic; }
.menu-toggle { display: none; }
.navbar { background-color: rgb(247, 245, 231); margin: 0px auto; max-width: 1600px; width: 100%; }
.site-header .search-form { position: absolute; right: 20px; top: 1px; }
.site-header .search-field { background-color: transparent; background-image: url("search-icon.png"); background-position: 5px center; background-repeat: no-repeat; background-size: 24px 24px; border: medium none; cursor: pointer; height: 37px; margin: 3px 0px; padding: 0px 0px 0px 34px; position: relative; transition: width 400ms ease 0s, background 400ms ease 0s; width: 0px; }
.site-header .search-field:focus { background-color: rgb(255, 255, 255); border: 2px solid rgb(195, 192, 171); cursor: text; outline: 0px none; width: 230px; }
.hentry { padding: 40px 0px; }
.entry-header, .entry-content, .entry-summary, .entry-meta { margin: 0px auto; max-width: 604px; width: 100%; }
.entry-header { margin-bottom: 30px; }
.entry-title { font-weight: normal; margin: 0px 0px 5px; }
.entry-meta { clear: both; font-size: 14px; }
.entry-content { -moz-hyphens: auto; word-wrap: break-word; }
.entry-content a, .comment-content a { color: rgb(188, 54, 10); }
.entry-content a:hover, .comment-content a:hover { color: rgb(234, 150, 41); }
footer.entry-meta { margin-top: 24px; }
.gallery-columns-1 .gallery-item:nth-of-type(n), .gallery-columns-2 .gallery-item:nth-of-type(2n), .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-4 .gallery-item:nth-of-type(4n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-6 .gallery-item:nth-of-type(6n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-8 .gallery-item:nth-of-type(8n), .gallery-columns-9 .gallery-item:nth-of-type(9n) { margin-right: 0px; }
.hentry.attachment:not(.image-attachment) .entry-meta { max-width: 104px; }
.navigation a { color: rgb(188, 54, 10); }
.navigation a:hover { color: rgb(234, 150, 41); text-decoration: none; }
.comments-title, .comment-list, .comment-reply-title, .must-log-in, .comment-respond .comment-form, .comment-respond iframe { display: block; margin-left: auto; margin-right: auto; max-width: 604px; width: 100%; }
.comment-respond { background-color: rgb(247, 245, 231); padding: 30px 0px; }
.comment-reply-title { font: italic 300 28px "Source Sans Pro",Helvetica,sans-serif; }
.comment-reply-title small a { color: rgb(19, 19, 16); display: inline-block; float: right; height: 16px; overflow: hidden; width: 16px; }
.comment-reply-title small a:hover { color: rgb(237, 51, 28); text-decoration: none; }
.comment-reply-title small a:before { content: ""; vertical-align: top; }
.widget { background-color: rgba(247, 245, 231, 0.7); font-size: 14px; -moz-hyphens: auto; margin: 0px 0px 24px; padding: 20px; word-wrap: break-word; }
.widget .widget-title { font: italic 300 20px "Source Sans Pro",Helvetica,sans-serif; margin: 0px 0px 10px; }
.widget ul, .widget ol { list-style-type: none; margin: 0px; padding: 0px; }
.widget li { padding: 5px 0px; }
.widget a { color: rgb(188, 54, 10); }
.widget a:hover { color: rgb(234, 150, 41); }
.search-form .search-submit { display: none; }
.site-footer { background-color: rgb(232, 229, 206); color: rgb(104, 103, 88); font-size: 14px; text-align: center; }
.site-footer .widget-area, .sidebar .site-footer { text-align: left; }
.site-footer a { color: rgb(104, 103, 88); }
.site-footer .sidebar-container { background-color: rgb(34, 14, 16); padding: 20px 0px; }
.site-footer .widget-area { margin: 0px auto; max-width: 1040px; width: 100%; }
.site-footer .widget { background: none repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); float: left; margin-right: 20px; width: 245px; }
.sidebar .site-footer .widget:nth-of-type(4), .sidebar .site-footer .widget:nth-of-type(3) { margin-right: 0px; }
.site-footer .widget a { color: rgb(230, 64, 42); }
.site-footer .widget-title, .site-footer .widget-title a, .site-footer .wp-caption-text { color: rgb(255, 255, 255); }
.site-info { margin: 0px auto; max-width: 1040px; padding: 30px 0px; width: 100%; }
@media (max-width: 1599px) {
  .site { border: 0px none; }
}
@media (max-width: 1069px) {
  .archive-header, .search .page-header, .archive .page-header, .blog .page-header, .error404 .page-content, .search .page-content, .archive .page-content, .attachment .entry-header, .attachment .entry-content, .post-navigation .nav-links, .sidebar .site-info, .site-footer .widget-area { padding-left: 20px; padding-right: 20px; }
}
@media (max-width: 643px) {
  .site-title { font-size: 30px; }
  #content .entry-header, #content .entry-content, #content .entry-summary, #content footer.entry-meta, #content .featured-gallery, .search.sidebar .page-content, .blog.sidebar .page-content, .sidebar .post-navigation .nav-links, .paging-navigation .nav-links, #content .author-info, .comments-area .comments-title, .comments-area .comment-list, .comments-area .comment-navigation, .comment-respond, .sidebar .site-info, .sidebar .paging-navigation .nav-links { padding-left: 20px; padding-right: 20px; }
  .menu-toggle { cursor: pointer; display: inline-block; font: bold 16px/1.3 "Source Sans Pro",Helvetica,sans-serif; margin: 0px; padding: 12px 0px 12px 20px; }
  .menu-toggle:after { content: ""; font-size: 12px; padding-left: 8px; vertical-align: -4px; }
  ul.nav-menu, div.nav-menu > ul { display: none; }
  .entry-title, .format-chat .entry-title, .format-image .entry-title, .format-gallery .entry-title, .format-video .entry-title { font-size: 22px; font-weight: bold; }
}
@media (max-width: 359px) {
  .gallery-columns-3 .gallery-item:nth-of-type(3n), .gallery-columns-5 .gallery-item:nth-of-type(5n), .gallery-columns-7 .gallery-item:nth-of-type(7n), .gallery-columns-9 .gallery-item:nth-of-type(9n) { margin-right: 4px; }
  .gallery .gallery-item:nth-of-type(2n) { margin-right: 0px; }
}
@media print, not all, not all, (min-resolution: 120dpi) {
  .site-header .search-field { background-image: url("urn:not-loaded:http://amministrazionelibera.org/wp-content/themes/twentythirteen/images/search-icon-2x.png"); }
}
@media print {
  body { background: none repeat scroll 0% 0% transparent ! important; color: rgb(0, 0, 0); font-size: 10pt; }
  .site { max-width: 98%; }
  .site-header { background-image: none ! important; }
  .site-header .home-link { max-width: none; min-height: 0px; }
  .site-title { color: rgb(0, 0, 0); font-size: 21pt; }
  .site-description { font-size: 10pt; }
  .author-avatar, .site-footer, .comment-respond, .comments-area .comment-edit-link, .comments-area .reply, .comments-link, .entry-meta .edit-link, .page-links, .site-content nav, .widget-area, .main-navigation, .navbar, .more-link { display: none; }
  .entry-header, .entry-content, .entry-summary, .entry-meta { margin: 0px; width: 100%; }
  .page-title, .entry-title { font-size: 21pt; }
  .entry-meta, .entry-meta a { color: rgb(68, 68, 68); font-size: 10pt; }
  .hentry { background-color: rgb(255, 255, 255); }
}
