/* Effective stylesheet produced by snapshot save */
.wp-cpl-widget, .wp-cpl-widget * { margin: 0px ! important; padding: 0px ! important; }
.wp-cpl-widget { list-style: none outside none ! important; background: none repeat scroll 0% 0% transparent ! important; }
.wp-cpl-widget li { background: none repeat scroll 0% 0% transparent ! important; float: none ! important; padding: 3px 5px ! important; margin: 2px 0px ! important; overflow: hidden ! important; }
